.nav-button {
  padding: 0;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: map-get($theme-colors, "light");
}

.search-input {
  width: 100%;
  outline: none;
  border: none;
  box-shadow: none;
}

.search-input-submit-btn {
  box-shadow: none;
}

.sidebar-card {
  position: relative;

  text-decoration: none;
  color: map-get($theme-colors, "dark");

  & .sidebar-card-subtext {
    color: map-get($theme-colors, "secondary");
  }

  & .sidebar-card-time {
    position: absolute;
    right: $spacer * 1.5;
    color: map-get($theme-colors, "secondary");
  }

  &:hover {
    color: map-get($theme-colors, "light");
    background-color: map-get($theme-colors, "primary");

    & .sidebar-card-subtext {
      color: map-get($theme-colors, "light");
    }

    & .sidebar-card-time {
      color: map-get($theme-colors, "light");
    }
  }
}
