.chat {
  border-radius: 1rem;
}

.menu {
  border-radius: 1rem 0 0 0;
}

.nav-button {
  padding: 0;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: map-get($theme-colors, "light");
}

.sidebar {
  @include hide-scrollbar();
  border-right: 1px solid map-get($theme-colors, "gray");
}

.search-input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid map-get($theme-colors, "gray");
}

.sidebar-card {
  position: relative;

  text-decoration: none;
  color: map-get($theme-colors, "dark");

  & .sidebar-card-subtext {
    color: map-get($theme-colors, "secondary");
  }

  & .sidebar-card-time {
    position: absolute;
    right: $spacer * 1.5;
    color: map-get($theme-colors, "secondary");
  }

  &:hover {
    color: map-get($theme-colors, "light");
    background-color: map-get($theme-colors, "primary");

    & .sidebar-card-subtext {
      color: map-get($theme-colors, "light");
    }

    & .sidebar-card-time {
      color: map-get($theme-colors, "light");
    }
  }
}

@media (max-width: map-get($grid-breakpoints, xl)) {
  .chat-box {
    display: none;
  }

  .sidebar {
    display: flex;
    flex-direction: column-reverse;
  }

  .menu {
    border-radius: 0;
  }

  .nav-logo {
    margin-right: auto;
  }

  .nav-item-name {
    display: none;
  }
}