@mixin hide-scrollbar() {
  & {
    overflow-x: hidden;

    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-scroll-overflow {
  @include hide-scrollbar;
}

.filter-white {
  filter: invert(100%);
}

.filter-light {
  filter: invert(97%) sepia(5%) saturate(0%) hue-rotate(268deg) brightness(111%) contrast(97%);
}

.filter-grey {
  filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(140deg) brightness(96%) contrast(89%);
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.centerized {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
