$utilities: () !default;
$utilities: map-merge(
  $utilities,
  (
    "radius": (
      property: border-radius,
      class: "radius",
      responsive: true,
      values: (
        null: 1rem,
        "none": 0,
      )
    ),
    "radius-left": (
      property: border-top-left-radius border-bottom-left-radius,
      class: "radius-left",
      responsive: true,
      values: (
        null: 1rem,
      )
    ),
    "radius-right": (
      property: border-top-right-radius border-bottom-right-radius,
      class: "radius-right",
      responsive: true,
      values:(
        null: 1rem,
      )
    ),
    "radius-left-top": (
      property: border-top-left-radius,
      class: "radius-left-top",
      responsive: true,
      values:(
        null: 1rem,
      )
    ),
    "border": (
      property: border,
      class: border,
      responsive: true,
      values: (
        null: 1px solid map-get($theme-colors, "gray")
      ),
    ),
    "border-top":(
      property: border-top,
      class: border-top,
      responsive: true,
      values: (
        null: 1px solid map-get($theme-colors, "gray")
      ),
    ),
    "border-bottom": (
      property: border-bottom,
      class: border-bottom,
      responsive: true,
      values: (
        null: 1px solid map-get($theme-colors, "gray")
      ),
    ),
    "border-left": (
      property: border-left,
      class: border-left,
      responsive: true,
      values: (
        null: 1px solid map-get($theme-colors, "gray")
      ),
    ),
    "border-right": (
      property: border-right,
      class: border-right,
      responsive: true,
      values: (
        null: 1px solid map-get($theme-colors, "gray")
      ),
    ),
    "round": (
      property: border-radius,
      class: round,
      values: (
        null: 100px,
      )
    ),
    "opacity": (
      property: opacity,
      values: (
        0: 0,
        25: 0.25,
        40: 0.4,
        50: 0.5,
        75: 0.75,
        100: 1,
      )
    ),
    "max-width-message-text": (
      property: max-width,
      class: max-width-message-text,
      values: (
        null: 558px,
      )
    ),
    "viewport-height": (
      property: height,
      class: vh,
      values: (
        75: 75vh,
        100: 100vh,
      )
    ),
    "border-0": (
      property: border,
      class: "border-0",
      values: (
        null: none,
      )
    )
  )
);
