extends components/layout.pug

block nav
  include components/nav.pug
  +nav('chat')

block tabs  
  include components/tabs.pug
  +tabs('chat')

block chatbox
  include components/chat-current-chat.pug
  .col-8.p-0.h-100.d-none.d-xl-block.no-scroll-overflow
    +chat-current-chat
