extends components/layout.pug

block nav
  include components/nav.pug
  +nav('index')

block tabs  
  include components/tabs.pug
  +tabs('index')

block chatbox
  include components/chat-greeting.pug
  .col-8.position-relative.d-none.d-xl-block
    +chat-greeting
