.centerized
  img.round.mb-23(src='images/avatar_1.jpg', alt='hexlet mascotte', width='200px', height='200px')
  h6.m-0 Привет, Кодовёнок
  p.m-0.small.text-secondary Выбери чат, чтобы начать общаться
