nav
  ul.nav.px-3.py-3.p-xl-3.d-flex.align-items-center(id='tab', role='tablist')
    li.me-auto.me-xl-0
      img.filter-white(src='images/sprite.svg#logo', alt='hexlet logo', width='25px', height='25px')
    li.ms-4.nav-item.small.d-xl-none(role='presentation')
      a.p-0.d-flex.align-items-center.text-light.nav-link(href='#current-chat', id='current-chat', data-bs-toggle='tab', data-bs-target='#current-chat-tab-pane', type='button', role='tab', aria-controls='current-chat-tab-pane')
        img.filter-light.me-3.me-xl-2(src='images/sprite.svg#chat-left-text', alt='current-chat image', width='30px', height='40px')
        p.d-none.d-xl-block.m-0 Диалог
    li.ms-4.nav-item.small(role='presentation')
      a.p-0.d-flex.align-items-center.text-light.nav-link.active(href='#contacts', id='contacts', data-bs-toggle='tab', data-bs-target='#contacts-tab-pane', type='button', role='tab', aria-controls='contacts-tab-pane')
        img.filter-light.me-xl-2(src='images/sprite.svg#people', alt='contacts image', width='30px', height='40px')
        p.d-none.d-xl-block.m-0 Контакты
    li.ms-4.nav-item.small(role='presentation')
      a.p-0.d-flex.align-items-center.text-light.nav-link(href='#chats', id='chat', data-bs-toggle='tab', data-bs-target='#chat-tab-pane', type='button', role='tab', aria-controls='chat-tab-pane')
        img.filter-light.me-2.me-xl-1(src='images/sprite.svg#chat', alt='chat image', width='40px', height='40px')
        p.d-none.d-xl-block.m-0 Сообщения
    li.ms-4.nav-item.small(role='presentation')
      a.p-0.d-flex.align-items-center.text-light.nav-link(href='#profile', id='profile', data-bs-toggle='tab', data-bs-target='#profile-tab-pane', type='button', role='tab', aria-controls='profile-tab-pane')    
        img.filter-light.me-4.me-xl-2(src='images/sprite.svg#person', alt='profile image', width='25px', height='40px')
        p.d-none.d-xl-block.m-0 Профиль
