include search-form.pug

-
  var contacts = {
    "A": [{
      name: "Алексей Примадонин",
      status: "Онлайн",
      avatar: "/images/avatar_3.jpg"
    }],

    "В": [{
      name: "Вениамин Редакторович",
      status: "Онлайн",
      avatar: "/images/avatar_4.jpg"
    }],

    "Д": [{
      name: "Джедай Падаванов",
      status: "Был онлайн вчера",
      avatar: "/images/avatar_2.jpg"
    }],

    "К": [{
      name: "Кодовёнок Хекслетович",
      status: "Был онлайн 3 часа назад",
      avatar: "/images/avatar_1.jpg"
    },
    {
      name: "Королева Верстальщина",
      status: "Была онлайн вчера",
      avatar: "/images/avatar_5.jpg"
    }],

    "П": [{
      name: "Питонист Джангович",
      status: "Был онлайн вчера",
      avatar: "/images/avatar_6.jpg"
    }],
  }

h2.fw-bold.mb-4 Контакты
+search-form("Поиск по контактам", 'search-contacts')
each contactsArray, letter in contacts
  .mb-5
    p.text-muted= letter
    each contact in contactsArray
      a.sidebar-card.mt-7.px-3.py-9.shadow-sm.d-flex(href='#')
        img.round(src=contact.avatar, alt='user-avatar', width='50', height='50')
        .mx-4
          p.m-0.fw-bold= contact.name
          p.m-0.small.sidebar-card-subtext= contact.status
