doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='icon', type='image/x-icon', href='favicon.ico')

    title layout-designer-project-lvl3

    link(rel='stylesheet', href='../styles/app.css')

  body.vh-100.bg-gray.p-xl-4
    .container-xxl.radius.shadow-sm.bg-white.h-100
      .row.h-100
        .col-12.col-xl-4.no-scroll-overflow.d-flex.flex-column-reverse.d-xl-block.border-right.h-100
          .row.radius-none.radius-left-top-xl.bg-primary
            .col.p-0
              block nav
          .row.no-scroll-overflow.mb-auto
            .col.p-0
              block tabs
        block chatbox

  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js', integrity='sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk', crossorigin='anonymous')
