nav.m-4
  ul.menu-list.m-0
    li.menu-list-item.menu-list-logo
      img.filter-white(src='images/sprite.svg#logo', alt='hexlet logo', width='25px', height='35px')
    li.menu-list-item.px-2.small
      a.menu-list-link(href='#')
        img.filter-light.mx-2(src='images/sprite.svg#people', alt='contacts image', width='25px', height='35px')
        p.menu-list-item-text.m-0 Контакты
    li.menu-list-item.px-2.small
      a.menu-list-link(href='#')
        img.filter-light.mx-2(src='images/sprite.svg#chat', alt='messages image', width='25px', height='35px')
        p.menu-list-item-text.m-0 Сообщения
    li.menu-list-item.px-2.small  
      a.menu-list-link(href='#')          
        img.filter-light.mx-2(src='images/sprite.svg#person', alt='profile image', width='25px', height='35px')
        p.menu-list-item-text.m-0 Профиль
