ul.nav.p-3.d-flex.align-items-center(id='myTab', role='tablist')
  li.me-auto.me-xl-0
    img.filter-white(src='images/sprite.svg#logo', alt='hexlet logo', width='25px', height='25px')
  li.ms-4.nav-item.small(role='presentation')
    button.nav-button.active(id='contacts', data-bs-toggle='tab', data-bs-target='#contacts-tab-pane', type='button', role='tab', aria-controls='contacts-tab-pane', aria-selected='true')
      img.filter-light.me-2(src='images/sprite.svg#people', alt='contacts image', width='30px', height='40px')
      p.d-none.d-xl-block.m-0 Контакты
  li.ms-4.nav-item.small(role='presentation')
    button.nav-button(id='chat', data-bs-toggle='tab', data-bs-target='#chat-tab-pane', type='button', role='tab', aria-controls='chat-tab-pane', aria-selected='true')
      img.filter-light.me-1(src='images/sprite.svg#chat', alt='chat image', width='40px', height='40px')
      p.d-none.d-xl-block.m-0 Сообщения
  li.ms-4.nav-item.small(role='presentation')
    button.nav-button(id='profile', data-bs-toggle='tab', data-bs-target='#profile-tab-pane', type='button', role='tab', aria-controls='profile-tab-pane', aria-selected='true')    
      img.filter-light.me-2(src='images/sprite.svg#person', alt='profile image', width='25px', height='40px')
      p.d-none.d-xl-block.m-0 Профиль
